#timetable,
#sessionoutline,
#eventoutline,
#access {
  margin-top:-80px;
  padding-top:80px;
}

.site-name,
.site-name a,
.site-name a:hover,
.site-name a:visited{
  color: #21303E
}

.navbar ul li a:hover{
  border-bottom-color: #21303E
}
.site-header{
  border-top-color: #21303E
}

.lp-entry h2,
.lp-entry h3{
  text-align: center
}

.bnr{
  height: 64px;
  width: auto;
}
.table-timetable.acms-table th.acms-cell-text-left{
  background-color: #698196
}

.eid-20{
  color: white;
  text-align: center;
  padding: 60px 20px 50px;
  background: #21303E;
  background-image: 
    url(../images/hero-bg-left.png),
    url(../images/hero-bg-right.png);
  background-position:
    left bottom,
    right top;
  background-repeat:
     no-repeat,
     no-repeat;
}
.hero ul {
  font-size: 0;
  text-align: center;
  margin: 0;
  padding: 0;
}
.hero li {
  display: inline-block;
  padding: 0;
  margin: 0 20px 0 0;
}

.eid-13{
  max-width: 640px;
  margin: 40px auto
}
.eid-13 h2{
  color: #21303E
}
.eid-15,
.eid-16{
  max-width: 800px;
  margin: 40px auto
}

.acms-btn:link,
.acms-btn:hover,
.acms-btn:active,
.acms-btn:visited{
  background: #5C8AF5;
  color: white;
}
.acms-entry .sessionitem{
  padding: 20px ;
}
.sessionitem h4{
  margin: 0 10px 10px;
  padding: 0;
}
.sessionitem h5{
  margin: 0 10px 10px;
  padding: 0;
}
.sessionoutline h3{
  color: red
}
.sessionitem ul {
  text-align: center;
}
.sessionitem li {
  display: inline-block;
  padding: 0 15px;
}
.acms-icon.acms-icon-twitter,
.acms-icon.acms-icon-facebook{
  font-size: 20px;
  color: #999;
}
.eid-14 h3{
  border-top: solid 3px #21303E;
  background-color: #F9F9F9;
  padding: 10px;
}

.eid-21{
  margin: 60px 0;
}





@media (max-width: 800px) {
  .acms-entry .sessionitem{
    padding:  0;
  }
  .acms-col-sm-4{
    width: 50%;
  }
  .eid-20{
    background-size: 30%;
  }

}
@media (max-width: 640px) {
  .acms-col-sm-4{
    width: 100%;
  }
  .hero li img{
    zoom: .9
  }
  .eid-13 h2{
    font-size: 24px
  }
}


/* テーブル */
.column-table- table {
	width: 100%;
}

.column-table- th,
.column-table- td {
	display: block;
	padding: 5px 10px;
	color: #333;
	line-height: 1.5;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #DFDFDF;
	font-size: 14px;
}

.column-table- .acms-table-responsive {
	border-top: 0;
	border-bottom: 0;
}
.column-table- .acms-table-responsive th,
.column-table- .acms-table-responsive td {
	display: table-cell;
	white-space: nowrap;
}
.column-table- .acms-table-responsive table {
	margin: 0;
}

.column-table- th {
	background: #F5F5F5;
}

.column-table- .entry-custom-table {
	margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
	.column-table- th,
	.column-table- td {
		display: table-cell;
		padding: 15px 20px;
		text-align: left;
		border-top: 1px solid #DFDFDF;
		max-width: 280px;
	}
	.column-table- th {
		background: inherit;
	}
}

.column-table- th{
  background-color: #21303E;
  text-align: center;
  color: white;
  border-left:  solid 1px white;
}
.column-table- th.acms-cell-text-left{
  background-color: #6E7781;
}
.column-table- td{
  border-right:  solid 1px #DFDFDF;
}

.acms-grid>ul{
  margin: 30px 0 60px;
}
.acms-grid>ul>li{
  margin: 0 0 10px;
  list-style-position: inside;
  font-size: 16px;
  line-height: 1.5;
}